
@{
    ViewData["Title"] = "Seguimineto_Envio";
}

<section class="Hero2 ">
    <div class="contenido-hero text-white text-center  row p-0 m-0 ">
        <div class="titulo-b">
            <h2 class="align-self-center">Seguimiento de envío</h2>
        </div>
        
    </div>
</section>
