@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero ">
    <div class="contenido-hero text-white text-center">
        
        <h2>Tu paquete, nuestro compromiso.</h2>
    </div>
    
</section>