@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero ">
    <div class="contenido-hero text-white text-center">
        <h2>Tu paquete, nuestro compromiso.</h2>
        <div class="w-50 m-auto row">
            <form asp-action="Index" class=" form-group m-auto">
                <div class="  text-center">
                    <label for="IdGuia" class="form-label">ID DE RASTREO</label>
                    <input type="text" id="IdGuia" class="form-control " />
                    <input type="submit" class="btn btn-primary mt-1 " />
                </div>
            </form>
        </div>

        
    </div>
    
    
    
</section>