@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero ">
    <div class="contenido-hero text-white text-center">
        <h2>Tu paquete, nuestro compromiso.</h2>
        <form asp-action="Index" class="container-sm row mt-10 form-group">
            <div class="col-5 mt-5 align-items-md-center">
                <label for="IdGuia" class="form-label">ID DE RASTREO</label>
                <input type="text" id="IdGuia" class="form-control col-4" />
                <input type="submit" class="btn btn-primary col-auto mt-1" />
            </div>
        </form>
    </div>
    
    
    
</section>