.nav-bg {
    background-color: rgb(77, 20, 140);
}

.Hero {
    background-image: url(../imagenes/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.contenido-hero {
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    height: 100%;

}

.row{
    border: 1px solid red;

}
.col {
    border: 1px solid white;
}
